<div class="container">
    <div id="second-container">
      <mat-card id="header">
        <mat-card-header>
          <mat-card-title>ACTUALIZAR TAREA</mat-card-title>
          <div>            
          </div>          
        </mat-card-header>
      </mat-card>

      <div *ngIf="showSection == 'userChosen'">
        <mat-card id="header">
          <mat-card-header>   
              <mat-card-subtitle *ngIf="usuario">
                 {{ usuario.nombre }} {{ usuario.email }} {{ usuario.edad }} 
              </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <button *ngIf="showSection == 'userChosen'" mat-raised-button color="accent" (click)="onChangeUser()">Cambiar Usuario</button>
      </div>      

      <div id="table" *ngIf="showSection == 'table'">
        <app-obtener-todos-corto></app-obtener-todos-corto>
      </div>
  
      <form [formGroup]="myForm" id="the-form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="form-element">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion" placeholder="Descripción">
              <mat-error *ngIf="submitted && myForm.get('descripcion')?.errors" class="error-message">
                <div *ngIf="myForm.get('descripcion')?.hasError('required')">Requerido</div>
                <div *ngIf="myForm.get('descripcion')?.hasError('minlength')">Al menos 3 caracteres</div>
                <div *ngIf="myForm.get('descripcion')?.hasError('maxlength')">Hasta 30 caracteres</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                  <!-- Usa la lista de estados para generar las opciones del dropdown -->
                  <mat-option *ngFor="let estado of estados" [value]="estado">
                    {{ estado }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
  
          <div class="col" id="buttons">
            <button mat-raised-button color="warn" (click)="onReset()">Limpiar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>                       
          </div>
        </div>
      </form>
    </div>
  </div>
  
