<div class="container">
    <div id="second-container">
      <mat-card id="header">
        <mat-card-header>
          <mat-card-title>ACTUALIZAR HABILIDADES </mat-card-title>
          <mat-card-subtitle>
            Usuario: {{ usuario?.nombre }} {{ usuario?.email }} {{ usuario?.edad }}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
      <form [formGroup]="myForm" id="the-form" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col">
            <h3>Habilidades</h3>
            <div class="habilidades-container">
              <div *ngFor="let habilidad of usuario?.habilidades" class="habilidad-item">
                <span>{{ habilidad.nombre }}</span>
                <button mat-raised-button color="warn" (click)="eliminarHabilidad(habilidad.habilidadId)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill"  class="form-element">
                <mat-label>Habilidad Nueva</mat-label>
                <input matInput formControlName="habilidadNueva" placeholder="habilidadNueva">
                <mat-error *ngIf="submitted && form['habilidadNueva'].errors">
                  <div *ngIf="form['habilidadNueva']?.errors?.['required']">Requerido </div>
                  <div *ngIf="form['habilidadNueva']?.errors?.['minlength']">Al menos 3 caracteres</div>
                  <div *ngIf="form['habilidadNueva']?.errors?.['maxlength']">Hasta 30 caracteres</div>
                </mat-error>
              </mat-form-field>
            </div>
        </div>

        <div class="row nueva-habilidad-container">
          <div class="col">
            <button mat-raised-button color="accent" (click)="agregarHabilidad()">Nueva Habilidad</button>
          </div>
        </div>

        <div class="row">
            <div class="col" id="buttons">
                <button mat-raised-button color="warn" (click)="onReset()">Limpiar</button>            
                <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
              </div>
        </div>
      </form>
    </div>
  </div>