.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem; /* A침adir padding para m칩viles */
}

#second-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#header {
  background-color: #3f51b5;
  color: white;
  margin-bottom: 1rem;
  padding: 12px;
  text-align: center;
}

#buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en filas */
  justify-content: center;
  gap: 16px;
}

button {
  min-width: 120px;
}

.form-element {
  width: 100%;
  margin-bottom: 22px;
}

.error-message {
  color: red;
  margin-top: 4px; 
  font-size: 0.875em;
  width: 100%;
}

.habilidades-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.habilidad-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nueva-habilidad-container {
  display: flex;
  justify-content: flex-end;  
  margin-bottom: 16px;        
}

/* Medidas responsivas */
@media (max-width: 576px) {
  #second-container {
    padding: 0.5rem;
  }

  #header {
    font-size: 1.2em; /* Ajustar tama침o de fuente para m칩vil */
  }

  .habilidades-container {
    gap: 5px; /* Reducir el espacio entre habilidades */
  }
}
