<div class="container">
    <div id="second-container">
      <mat-card id="header">
        <mat-card-header>
          <mat-card-title>GUARDAR USUARIO </mat-card-title>
        </mat-card-header>
      </mat-card>
  
      <form [formGroup]="myForm" id="the-form" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill"  class="form-element">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" placeholder="nombre">
                <mat-error *ngIf="submitted && form['nombre'].errors">
                  <div *ngIf="form['nombre']?.errors?.['required']">Requerido </div>
                  <div *ngIf="form['nombre']?.errors?.['minlength']">Al menos 5 caracteres</div>
                  <div *ngIf="form['nombre']?.errors?.['maxlength']">Hasta 30 caracteres</div>
                </mat-error>
              </mat-form-field>

            <mat-form-field appearance="fill"  class="form-element">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" placeholder="password" type="password">
              <mat-error *ngIf="submitted && form['password'].errors">
                <div *ngIf="form['password']?.errors?.['required']">Requerido </div>
                <div *ngIf="form['password']?.errors?.['minlength']">Al menos 8 caracteres</div>
                <div *ngIf="form['password']?.errors?.['maxlength']">Hasta 30 caracteres</div>
              </mat-error>
            </mat-form-field>            
          </div>
        </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill"  class="form-element">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="email">
                <mat-error *ngIf="submitted && form['email'].errors">
                  <div *ngIf="form['email']?.errors?.['required']">Requerido </div>
                  <div *ngIf="form['email']?.errors?.['minlength']">Al menos 8 caracteres</div>
                  <div *ngIf="form['email']?.errors?.['maxlength']">Hasta 30 caracteres</div>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="fill" class="form-element">
                <mat-label>Edad</mat-label>
                <input matInput formControlName="edad" placeholder="edad">
                <mat-error *ngIf="submitted && form['edad'].errors">
                  <div *ngIf="form['edad']?.errors?.['required']">Requerido</div>
                  <div *ngIf="form['edad']?.errors?.['minlength']">Al menos 2 caracteres</div>
                  <div *ngIf="form['edad']?.errors?.['maxlength']">Hasta 3 caracteres</div>
                   <!-- Error específico -->
                  <div *ngIf="form['edad']?.errors?.['edadInvalida']">Debe ser mayor de 18 años</div>
                </mat-error>
              </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col" id="buttons">
                <button mat-raised-button color="warn" (click)="onReset()">Limpiar</button>            
                <button mat-raised-button color="primary" type="submit">Guardar</button>
              </div>
        </div>
      </form>
    </div>
  </div>
  


